html {
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 1px;
    min-height: 100vh;
    color: #2C1B37;
    background-image: linear-gradient(-20deg, #abd2d6 0%, #d6abab 100%);
    background-size: cover;
}

.container {
    width: 85%;
    height: 100%;
    margin: 40px auto;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}

h1 {
    font-size: 1250%;
    padding: 8%;
    margin: auto;
    text-align: center;
}

.chooser {
    font-size: 500%;
    width: 100%;
    margin: auto;
    text-align: center;
}

.Push, .Pull, .Leg {
    width: 75%;
    height: 100%;
    font-size: 150%;
    border-radius: 65px;
    margin: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    background-color: #4D6A6D;
}

.start-button {
    font-family: 'Droid Sans Mono', monospace;
    width: 50vw;
    height: 50vw;
    line-height: 50vw;
    border-radius: 30vw;
    text-align: center;
    padding: 1vw;
    font-size: 15vw;
    margin: 100px auto;
    border: 20px solid #a35146;
}

.act-name {
    font-size: 5vw;
    margin: 20px auto;
    font-style: bold;
}

.hidden {
    display: none;
}
